<p>
  <img src="https://github.com/Rocketseat/bootcamp-gostack-desafio-03/raw/master/.github/logo.png" alt="Logo GymPoint">
</p>
<strong>Olá, {{ student }} </strong>
<p>Sua matrícula foi realizada com sucesso!</p>
<p>Confira abaixo as informações do seu plano:</p>
<p>
  <strong>Plano: </strong> {{ title }} <br />
  <strong>Data de início: </strong> {{ startDate }} <br />
  <strong>Data do término: </strong> {{ endDate }} <br />
  <strong>Preço total do pacote: </strong> R$ {{ price }} <br />
  <br />
  <small> Seja bem vindo a Gympoint<small>
</p>
